.name{
    font-style: italic;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 2rem;
   color: blueviolet;
   margin-left: 30px;
   /* margin-top: 35px; */
}
header{
    display: flex;
    background-color: mintcream;
    border: 1px solid;
    height: 100px;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 -2px 4px -2px black;

}

.links{
    font-size: 2rem;
    color: blueviolet;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 2rem;
    margin-right: 30px;
    margin-top: 35px;
  }

a{
    text-decoration: none;
   
}
a:hover{
    color: crimson;
    
}

img{
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        /* width: 40%; */
        /* padding: 40px; */
        float: left;
        border: 1px solid;
        margin-right: 20px;
        margin-left: 25px;
}

.img1{
   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 75pxcd;
}
.img1 > img{
  float: none;
}
.about-me{
    width: 60%;
    margin-left: 350px;
}

h1 {
    text-align:left;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 75px;
   
  }

  h2{
    font-size: 2rem;
    color: darkred;
    margin-left: 20px;
  }




  p{
    font-size: larger;
    font-style: normal;
    font-family: sans-serif;
  }

  body{
    background-color: lavender;
    
  }
.about-section{
    margin-top: 100px;
    width: 66%;
}
.workshop{
    margin-top: 200px;
    width: 66%; 
    
    
}
  footer{
    
      /* position: fixed;
      width: 100%;
      bottom: 0; */
      box-sizing: border-box;
      position: relative;
      height: 64px;
      padding: 16px;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      box-shadow: 0 -2px 4px -2px black;
      background-color: mintcream;
      height: 100px;
     display: flex;
    justify-content:center;
     margin-top: 200px; 
     position: -webkit-sticky;
    position: sticky;
  
    }
  .footer-icon{
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer-home{
     /* position: fixed;
      width: 100%;
      bottom: 0; */
      box-sizing: border-box;
      position: fixed;
      height: 64px;
      padding: 16px;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      box-shadow: 0 -2px 4px -2px black;
      background-color: mintcream;
      height: 100px;
      display: flex;
      justify-content:center;
      margin-top: 200px;
  } 


section{
  background-color: white;
  height: 300px;
  box-shadow: 0 3px 6px -2px #ccc;
  border-color: 1px solid;
  margin-bottom: 5px;
  
}
.main1{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px; 

}


.content {
  flex-basis: 50%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 380px;
}

.contact-form {
  flex-basis: 45%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 380px;
 
}
.contact{
  font-size: larger;
  font-style: normal;
  font-family: sans-serif;
  margin-left: 25px;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: crimson;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}
h3{
    text-align:center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 2rem;
    margin-left: 1000px;
   
}
.success{
  text-align:center;
  font-family: sans-serif;
  font-size: 25px;
 }

 label {
  margin-bottom: 5px;
}

